.container {
  background-color: #F8F4E1;
}

nav {
  background-color: #543310;
  padding: 1em 0;
}

.nav-links {
  display: flex;
  justify-content: space-around;
}

.nav-links li {
  font-size: 2rem;
}


.home {
  padding-right: 10em;
}

h1 {
  width: 100%;
  text-align: center;
  font-size: 4rem;
  color: #543310;
}

.items-container {
  color: #543310;
}

.items-container ul li {
  font-size: 1.5rem;
  line-height: 2.5rem;
}